@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Shrikhand&display=swap');

@import "tailwindcss";


:root {
  --background: #FEF9ED;
  --foreground: #5d524b;
  --font-serif: "Bodoni Moda", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-dark-grey: #5d524b;
  --color-light-grey: #f5eee0;
  --color-light-white: #FEF9ED;
  --color-light-yellow: #fff0c8;

  --color-accent-primary: #9297C4;
  --color-accent-secondary: #4F9D69;

  --color-base-01: #FEF9ED;
  --color-base-02: #f5eee0;
  --color-base-03: #EBDDC1;
  --color-base-04: #E1CCA3;
  --color-base-05: #4D3C19;

  --font-accent: "Cormorant Garamond", serif;

  --spacing-screen-h: calc(100vh - 80px);


  

  --animate-wiggle: wiggle 10s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      width: 30%
    }
    50% {
      width: 70%
    }
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; 
}
